##ignore this file##
/target/
.classpath
.project
.settings     
 ##filter databfile、sln file##
*.mdb  
*.ldb  
*.sln   
##class file##
*.com  
*.class  
*.dll  
*.exe  
*.o  
*.so
# compression file
*.7z  
*.dmg  
*.gz  
*.iso   
*.rar  
*.tar  
*.zip  
*.via
*.tmp
*.err

